<script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>
  
    <!-- <div class="jumbotron-style">
  <footer>
    <p>Made by: Maninderpal Singh</p>
    <p>Contact information: <a href="mailto:mpsv1992@gmail.com">
    mpsv1992@gmail.com</a>.</p>
  </footer>
</div> -->

</body>
</html>